<h1>Pagina Personal</h1>
@model Personal

@Html.LabelFor(m=>m.name, "Nombre: ") @Model.name
<br>
@Html.LabelFor(m=>m.lastname, "Apellido: ") @Model.lastname
<br>
@Html.LabelFor(m=>m.age, "Edad: ") @Model.age
<br>
@Html.LabelFor(m=>m.direccion, "Correo Electronico: ") @Model.direccion
<br>
@Html.LabelFor(m=>m.telefono, "Numero de Telefono: ") @Model.telefono
<br>
@Html.LabelFor(m=>m.codigoEst, "Codigo de Estudiante: ") @Model.codigoEst
<br>


